body{
    background-image:url(/gogo/africa\ .jpg);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}


intro{
    margin: 30px 0px;
    font-weight: bold;
}



h1{
    color:rgba(236, 109, 35, 0.959);
    text-transform: uppercase;
    font-weight: 800;
}

p{
    font-weight: 600;
}

#first{
    margin-top: 10px;
    color: rgb(22, 2, 21);
    opacity: 0.3;
}

#second{
    margin-top: 10px;
    color: rgb(8, 12, 12);
    opacity: 0.3;
}

#third{
    color:white;
    margin-top: 30px;
    opacity: 0.3;
}



#enter{
    border: none;
    padding: 1rem ;
    border-radius: 5px;
    color: mediumslateblue;
    background-color: navajowhite;
    transition: all 0.75s ease;
    -webkit-transition:all 0.75s ease;
    -moz-transition:all 0.75s ease;
    -ms-transition:all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;


}

#enter :hover{
    background-color: slateblue;
    color: seashell;
}

ul{
    text-align: left;
    margin-top: 20px;
}


li{
    list-style: none;
    padding: 10px 20px ;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid cyan;
    border-radius: 5px;
    margin-bottom: 10px;
    background:darkslategrey;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition:all 0.5s  ease;
    -o-transition: all 0.5 ease;



}


li:hover{
    background: rgb(231, 93, 197);
}


li > button{
    font-weight: normal;
    background: none;
    border: none;
    float:right;
    color: gold;
    font-weight: 800;

}


input{
    border: dotted 1px black;
    border-radius: 5px;
    min-width: 65%;
    padding: 1rem;

}

.done{
    background: blue !important;
    color: cornflowerblue;
}

.delete{
    display: none;
}

